:root {
  --node-color: #a6b457;
  --flow-background-color: #f8f9f2;
  --node-text-color: #ecf0d5;
  --handle-color: #6557b4;
  --delete-button-color: #cf573c;
  --good-button-color: #e8c170;
  --neutral-button-color: #a4dddb;
}

.Flow {
  background-color: var(--flow-background-color);
  flex-grow: 1;
  font-size: 12px;
}

.react-flow .react-flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: var(--handle-color)
}

.react-flow__node-choice,
.react-flow__node-text {
  min-width: fit-content;
  min-height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--node-color);
  border: 1px solid #555;
  padding: 10px;
}

.react-flow__node-text {
  padding: 0px;
}