:root {
  /* Colors */
  --flow-background-color: #fff9ec;
  --node-color: #FCB1A6;
  --node-text-color: #FFDCCC;
  --handle-color: #5D2A42;
  --delete-button-color: #FB6376;
  --good-button-color: #FFDCCC;
  --neutral-button-color: #FFDCCC;

  --rounding: 10px;
}

.button_neutral {
  background-color: var(--neutral-button-color);
  font: inherit;
  border-radius: 10px;
}

.Flow {
  background-color: var(--flow-background-color);
  flex-grow: 1;
  font-size: 12px;
}

.react-flow .react-flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: var(--handle-color)
}

.react-flow__node-choice,
.react-flow__node-text {
  min-width: fit-content;
  min-height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--node-color);
  border: 1px solid #555;
  padding: 10px;
}

.react-flow__node-text {
  padding: 0px;
}