.Flow {
  flex-grow: 1;
  font-size: 12px;
}

.react-flow__node-custom {
  border: 1px solid #555;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.react-flow__node-resizable {
  border: 1px solid #555;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  textarea {
    resize: none;
  }

  min-width: 100px;
  min-height: 50px;
}

.textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
