.modal {
  --pos: 70px;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  position: absolute;
  top: var(--pos);
  left: var(--pos);
  right: var(--pos);
  bottom: var(--pos);
  font-size: 18px;
  background: rgb(234, 234, 234);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.modal>.header {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid gray;
  background-color: #cfcece;
  font-size: 18px;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.modal>.textArea {
  height: 100%;
  margin: 1rem;
  resize: none;
  flex-grow: 1;
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow-y: auto;

  flex-direction: column;
}

.modal>.actions {
  width: 100%;
  margin: 1rem;
  text-align: center;
}

.modal>.button-row {
  display: flex;
  align-self: center;
  width: 80%;
  gap: 10px;
}

.modal>.button-row>.close {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 5px 5px;
  margin: 0 0rem 1rem 0rem;
  line-height: 20px;
  font-size: 18px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}