.modal-rename {
  --pos: 30%;
  border: 2px solid black;
  border-radius: var(--rounding);
  border-color: black;
  position: absolute;
  top: var(--pos);
  left: var(--pos);
  right: var(--pos);
  bottom: var(--pos);
  font-size: 24px;
  background: var(--node-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}
.modal-input {
  margin: 1rem;
  font: inherit;
  font-size:large;
}

.modal-p {
  margin: 0;
  align-self: center;
}

.modal-rename>.header {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid gray;
  background-color: var(--neutral-button-color);
  font-size: 24px;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.modal-rename>.button-row {
  display: flex;
  align-self: center;
  justify-self: end;
  width: 80%;
  gap: 10px;
  margin-top: auto;
}

.modal-rename>.button-row>.close {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 5px 5px;
  margin: 0 0rem 1rem 0rem;
  line-height: 20px;
  font-size: 18px;
  background: var(--neutral-button-color);
  border-radius: 18px;
  border: 1px solid #000000;
}

.modal-rename>.button-row>.delete {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 5px 5px;
  margin: 0 0rem 1rem 0rem;
  line-height: 20px;
  font-size: 18px;
  background: var(--delete-button-color);
  border-radius: 18px;
  border: 1px solid
}


.AddDialog-button {
  border-radius: var(--rounding);
  background-color: var(--delete-button-color);
  font: inherit;
  height: 2rem;
  min-height: 2rem;
  width: 80%;
  margin-top: 1rem;
  align-self: center;
  min-width: 73px;
  margin-bottom: auto
}
