.TextNode-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.TextNode-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 10px;
  max-width: 250px;
  max-height: 250px;
}



.TextNode-button {
  border-radius: 10px;
  background-color: var(--neutral-button-color);
  font: inherit;
  height: 2rem;
  min-height: 2rem;
  min-width: 73px;
  margin-bottom: auto
}

.TextNode-header {
  background-color: aqua;
  margin: 0;
  border-radius: 10px;
}


.TextNode-button:hover {
  filter: brightness(85%);
}

.TextNode-button:active {
  filter: brightness(70%);
}
